:host {

  .home {
    &__actions {
      button {
        margin: 16px;
        width: 100px;
      }
    }
  }

  .form-row {

    .form-control {
      margin-bottom: 4px;
    }

    .help-block {
      font-size: 14px;

      &.invalid {
        color: red;
      }
    }
  }

}
