<div id="home">
  <div class="container">
    <div class="row mt-5 mb-4">
      <div class="col-sm-12 col-md-6">
        <h1>Posts</h1>
      </div>
      <div class="col-sm-12 col-md-6">
        <button
          class="btn btn-primary float-end"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          (click)="createPost()">
          New post
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4"
        *ngFor="let post of currentPosts">
        <app-card-post [post]="post"></app-card-post>
      </div>
    </div>
    <div class="row mt-5 mb-4 home__actions">
      <div class="col text-center">
        <button class="btn btn-primary" [disabled]="isPrevDisabled" (click)="getPrevPosts()">Previous</button>
        <span>{{ pageCount + 1 }}/{{ posts.length/postPerPage }}</span>
        <button class="btn btn-primary" [disabled]="isNextDisabled" (click)="getNextPosts()">Next</button>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade"
    data-bs-backdrop="static" data-bs-keyboard="false"
    id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="newPostForm">
          <form [formGroup]="newPostForm">
            <label class="form-label" for="">User Id</label>
            <input
              readonly
              class="form-control mb-4"
              type="text"
              id="userId"
              formControlName="userId">
            <div class="form-row mb-4">
              <label class="form-label" for="">Title</label>
              <input
                [readonly]="createPostStatus !== 'create'"
                class="form-control"
                type="text"
                id="title"
                formControlName="title">
              <span
                [ngClass]="{'invalid': !newPostForm.get('title')?.valid && newPostForm.get('title')?.touched}"
                class="help-block"
                *ngIf="!newPostForm.get('title')?.valid && newPostForm.get('title')?.touched">
                The post title must be at least 10 characters
              </span>
            </div>

            <div class="form-row mb-4">
              <label class="form-label" for="">Body</label>
              <textarea
                [readonly]="createPostStatus !== 'create'"
                class="form-control"
                type="text"
                id="body"
                formControlName="body">
              </textarea>
              <span
                [ngClass]="{'invalid': !newPostForm.get('body')?.valid && newPostForm.get('body')?.touched}"
                class="help-block"
                *ngIf="!newPostForm.get('body')?.valid && newPostForm.get('body')?.touched">
                The post body must be at least 15 characters
              </span>
            </div>
          </form>
        </div>
        <div class="modal-footer">

          <ng-container [ngSwitch]="createPostStatus">
            <ng-container *ngSwitchCase="'create'">
              <button
                type="button"
                class="btn btn-outline-primary"
                data-bs-dismiss="modal">Cancel</button>
              <button
                type="button"
                (click)="creatingPost()"
                class="btn btn-primary">
                Create post
              </button>
            </ng-container>
            <ng-container *ngSwitchCase="'creating'">
              <button
                type="button"
                disabled
                class="btn btn-primary">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Creating post ...
              </button>
            </ng-container>
            <ng-container *ngSwitchCase="'created'">
              <button
                type="button"
                data-bs-dismiss="modal"
                (click)="resetCreation()"
                class="btn btn-primary">
                Post created &#10004;&#65039;
              </button>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
