<div class="card" *ngIf="post.id">
  <div class="card-body">
    <div class="card__author">
      <img [src]="'https://i.pravatar.cc/70?img=' + post.userId" class="rounded float-start" alt="...">
      <h6 class="card-subtitle mb-2 text-muted">
        Author Id: <cite [title]="post.userId">{{ post.userId }}</cite>
        <br>
        Article Id: {{ post.id }}
      </h6>
    </div>
    <h6 class="card-title">
      {{ post.title }}
    </h6>
    <p class="card-text">
      {{ post.body }}
    </p>
    <a [routerLink]="['post/' + post.id]" class="btn btn-primary float-end">Read more</a>
  </div>
</div>
