:host {
  .card {
    width: 100%;
    height: 100%;
    &-body {
      padding: 1.5rem 1.3rem;
    }
    &__author {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      img {
        border-radius: 200px;
        margin-right: 1rem;
      }
    }

    &-title {
      overflow:hidden;
      max-height: 3rem;
      -webkit-box-orient: vertical;
      display: block;
      display: -webkit-box;
      overflow: hidden !important;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
    }

    &-text {
      overflow:hidden;
      max-height: 6rem;
      -webkit-box-orient: vertical;
      display: block;
      display: -webkit-box;
      overflow: hidden !important;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
    }
  }
}
